h1.title,
footer {
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}
th.mat-sort-header-sorted {
  color: black;
}

hr {
  border: 1px solid transparent;
}

.spacer {
  flex: 1 1 auto;
}

.demo-config {
  padding: 1rem;
  background: var(--mat-sys-background);

  > button {
    margin-right: 0.5rem;
  }
}

.table-controls {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
