<h1 class="title">{{ title }}</h1>
<div class="demo-config">
  <button mat-raised-button (click)="reset()">Reset</button>
  <mat-radio-group (change)="onPersistenceModeChanged($event)">
    @for (mode of persistenceModes; track mode) {
      <mat-radio-button
        [checked]="persistenceMode === mode"
        value="{{ mode }}"
        >{{ mode.replace("_", " ") }}</mat-radio-button
      >
    }
  </mat-radio-group>
</div>
<div class="table-controls">
  <mat-multi-sort-control [sort]="sort"></mat-multi-sort-control>
  <div class="spacer"></div>
  <mat-chip [highlighted]="true" matTableColumnConfigTrigger
    >Configure <mat-icon matChipTrailingIcon fontIcon="menu"></mat-icon
  ></mat-chip>
</div>
<table
  #table
  mat-table
  [dataSource]="dataSource"
  matMultiSort
  (persistenceChanged)="onPersistenceChanged($event)">
  @for (column of columns; track column.id) {
    <ng-container [matColumnDef]="column.id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-multi-sort-header
        sortActionDescription="Sort by {{ column.label }}">
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column.id] }}</td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
<hr />
<footer>
  Made with ❤️ by Michaela Andermann and Philip Gerke – {{ version }} © 2024-{{
    currentYear
  }}
  – All rights reserved
</footer>
