h1.title,
footer {
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}
th.mat-sort-header-sorted {
  color: black;
}

hr {
  border: 1px solid transparent;
}

.spacer {
  flex: 1 1 auto;
}

.table-controls {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
