@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";

@include mat.core();

* {
  box-sizing: border-box;
}

html > * {
  color: var(--mat-sys-on-surface, rgba(0, 0, 0, 0.87));
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
