* {
  box-sizing: border-box;
}

html > * {
  color: #000000de;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
